#wrappersocal{
    display: block;
    height: 474px;
    width: 948px;
}

#wrapperOrange {
    display: block;
    height: 474px;
    width: 948px;
}

#wrapperLosangeles {
    display: block;
    height: 474px;
    width: 948px;
}

#wrapperRiverside {
    display: block;
    height: 474px;
    width: 948px;
}

#wrapperSanbernandino {
    display: block;
    height: 474px;
    width: 948px;
}

#wrapperSantabarbara {
    display: block;
    height: 474px;
    width: 948px;
}
