<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Covid Data Analysis </title>
    <link rel="stylesheet" href="../static/css/index1.css">
</head>
<body>
    <div> 
        <h1> Southern California Covid Data Analysis </h1>
    </div>
    <div id="wrapperSocal">
        <h2>SoCal County cases data</h2>
        <canvas id="chart_Socal"></canvas>
    </div>
    <div id="wrapperOrange">
        <h2>Orange County data</h2>
        <canvas id="chart"></canvas>
    </div>
    <div id="wrapperLosangeles">
        <h2>Los Angeles County data</h2>
        <canvas id="chart_two"></canvas>
    </div>
    <div id="wrapperRiverside">
        <h2>Riverside County data</h2>
        <canvas id="chart_three"></canvas>
    </div>
    <div id="wrapperSanbernandino">
        <h2>Sanbernandino County data</h2>
        <canvas id="chart_four"></canvas>
    </div>
    <div id="wrapperSantabarbara">
        <h2>Santa Barbara County data</h2>
        <canvas id="chart_five"></canvas>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script type="text/javascript" src="../static/js/index2.js"></script>
</body>
</html>
