<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Covid Data Analysis </title>
    <link rel="stylesheet" href="../static/css/index1.css">
</head>
<body>
    <div> 
        <h1> Covid Data Analysis </h1>
    </div>

    <div id="wrapper_two">
        <h2>California State Wide Data</h2>
        <canvas id="chart_two"></canvas>
    </div>
    </div>
    <div>
    <!-- <div id="wrapper">
        <h2>Southern California City Wide Data</h2>
        <canvas id="chart"></canvas> -->
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script type="text/javascript" src="../static/js/index1.js"></script>
</body>
</html>
